---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=krmeujcx6hn477xn5gma4pmn&format=json&pageSize=25&show=storeId,storeType,name,phone,city,distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-121.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 17,
          "total": 17,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.015",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeId,storeType,name,phone,city,distance&format=json&apiKey=krmeujcx6hn477xn5gma4pmn",
          "stores": [
            {
              "storeId": 2740,
              "storeType": "Mobile",
              "name": "Cherry Creek Shopping Center",
              "phone": "303-270-9189",
              "city": "Denver",
              "distance": 3.25
            },
            {
              "storeId": 1224,
              "storeType": "BigBox",
              "name": "Belmar",
              "phone": "303-742-8039",
              "city": "Lakewood",
              "distance": 5.28
            },
            {
              "storeId": 211,
              "storeType": "BigBox",
              "name": "Colorado Blvd",
              "phone": "303-758-5805",
              "city": "Denver",
              "distance": 5.61
            },
         [...]
