---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=krmeujcx6hn477xn5gma4pmn&format=json&pageSize=25&show=storeId,storeType,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 17,
          "total": 17,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.006",
          "totalTime": "0.018",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeId,storeType,name&format=json&apiKey=krmeujcx6hn477xn5gma4pmn",
          "stores": [
            {
              "storeId": 2740,
              "storeType": "Mobile",
              "name": "Cherry Creek Shopping Center"
            },
            {
              "storeId": 1224,
              "storeType": "BigBox",
              "name": "Belmar"
            },
            {
              "storeId": 211,
              "storeType": "BigBox",
              "name": "Colorado Blvd"
            },
            {
              "storeId": 382,
              "storeType": "BigBox",
              "name": "Denver West"
            },
            {
              "storeId": 209,
              "[...]
